
body{
  background-image: url(https://www.pngkit.com/png/full/898-8985841_1986-x-1340-4-farm-cartoon.png);
  background-size:cover;
  height: 250px;

}
.porky{
  height: 350px;
  width: 350px;
 position: fixed;
    bottom:20px;
    z-index: 1;
   
}
.mud{
  height: 250px;
  width: 400px ;
 position: fixed;
    bottom:20px;
margin-left:300px;
border-radius: 10%;
 
}
.stash{
border: solid 5px black;
height: 400px;
width: 200px;
margin-top: 18vh;
margin-left:70vw;
background-color: rgba(190, 226, 156, 0.815);
font-family: serif;
}

.br{
 background-color: black;
 height: 3px;
}

.upgrade{
  border: solid 5px black;
  height: 28vh;
  width: 400px;
  position: fixed;
 background-color: rgba(190, 226, 156, 0.596);
font-family: serif;
   z-index: 1;
  
 
}
.stats{
    border: solid 5px black;
  height: 85px;
  width: 200px;
  margin-left: 10px;
  margin-top: 20vh;
  position: fixed;
 background-color: rgba(190, 226, 156, 0.596);
font-family: serif;
   z-index: 1;
}