
body{
  background-image: url(https://www.pngkit.com/png/full/898-8985841_1986-x-1340-4-farm-cartoon.png);
  background-size:cover;
  height: 250px;

}
.title{
  font-family: serif;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: -1px 0 rgb(228, 19, 19), 0 1px rgb(90, 9, 9), 1px 0 rgb(211, 13, 13), 0 -1px black;

}
.porky{
  height: 350px;
  width: 350px;
 position: fixed;
    bottom:20px;
    z-index: 1;
   
}
.mud{
  height: 250px;
  width: 400px ;
 position: fixed;
    bottom:20px;
margin-left:300px;
border-radius: 10%;
 
}
.stash{
border: solid 5px black;
height: 400px;
width: 200px;
margin-top: 18vh;
margin-left:70vw;
background-color: rgba(190, 226, 156, 0.815);
font-family: serif;
z-index: 1;
position: fixed;
 box-shadow: 1px 1px 15px black, 0 0 25px rgb(48, 29, 2), 0 0 5px rgb(90, 40, 21);
}

.br{
 background-color: black;
 height: 3px;
}

.upgrade{
  border: solid 5px black;
  height: 28vh;
  width: 400px;
  position: fixed;
 background-color: rgba(190, 226, 156, 0.596);
font-family: serif;
   z-index: 1;
     box-shadow: 1px 1px 15px black, 0 0 25px rgb(127, 127, 223), 0 0 5px rgb(13, 221, 211);
  
 
}
.stats{
    border: solid 5px black;
  height: 85px;
  width: 200px;
  margin-left: 10px;
  margin-top: 20vh;
  position: fixed;
 background-color: rgba(190, 226, 156, 0.596);
font-family: serif;
   z-index: 1;
    box-shadow: 1px 1px 15px black, 0 0 25px rgb(245, 201, 5), 0 0 5px rgb(247, 243, 6);
}
.market{
  font-weight: bolder;
  font-style: initial;
}
.stashtitle{
font-weight: bolder;
  font-style: initial;
}